*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 100vw;
    height: 100vh;
    min-height: 810px;
    background-color: #cdd6da;
    background-image: linear-gradient(160deg, #10678d 0%,#464963 100%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.card{
    width: 1000px;
    height: 500px;
    background-color: #4e094c;
    display: flex;
    flex-direction: row;
      position: relative; 
    overflow: hidden; 
    justify-content: space-evenly;
    align-items: center; 
    
    gap: 0px;
}



.imgbox {
    width: 50%;
    height: 100%;
    background-color: white;
    background-image: url('icon.jpg');
    background-size: contain;
    background-position: center;
}

.textbox{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
     justify-content: space-evenly; 
    align-items:center;
    gap: 25px;
    color: white;
    text-align: center;
    padding:30px ;
}
    /* background-color:violet; */
    



 .textbox h1 {
    font-size: 2.4rem;
}

.textbox p{
    font-size: 1.1rem;
}

.statbox{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
     gap: 50px; 
    
    
}

#box1 h1{
    font-size: 1.7rem;
    font-weight: bold;
}

#box1 p{
    font-size: smaller;
}